/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);*/
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;

}
body{
	font-size: 62.5%;
	font-family:"微软雅黑";
	background-color: black;
	/*overflow:-Scroll;
	overflow-x:hidden;*/
}



.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}






.login_wrapper_block{
	opacity: .85;
	display: block;
}
.login_wrapper_none{
	opacity: 0;
	display: none;
}

.login_wrapper {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  color: white;
  font-weight: 300;
}
.login_wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.login_wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
.login_wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
.login_wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}


.login_wrapper {
  /*background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  */
  background-color: black;
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 400px;
  margin-top: -200px;
  overflow: hidden;
  z-index: 99999;
  opacity: .85;
	
  display: none;

}
.login_wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  /*color: #53e3a6;*/
  color: darkcyan;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 600;
}
form button:hover {
  background-color: #f5f7f9;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}

.container a{
	text-decoration: none;
	color: white;
}
.containertext2{
	margin-left: 70px;
}




.login_close{
	background: url(../images/close.png) no-repeat;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 37px;
	height: 37px;
	cursor: pointer;
	z-index: 100000;
}







.big{
	position: relative;
	
}





.topword{
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	background: hsla(0,0%,100%,.3);
	overflow: hidden;
	z-index: 99;
	line-height: 30px;
}
.topword::before{
	content: '';
	z-index: -1;
    -webkit-filter: blur(20px); /* Chrome, Opera */
       -moz-filter: blur(20px);
        -ms-filter: blur(20px);    
            filter: blur(20px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false); /* IE6~IE9 */
}

.loginon,.missage{
	cursor: pointer;
}

.p1{
	font-size: 14px;
	color: white;
	font-weight: normal;
	margin-left: 15px;
	float: left;
}
.p1 a{
	font-size: 12px;
	color: white;
	font-weight: normal;
}
.p2{
	float: right;
	font-size: 12px;
	color: white;
	margin-right: 3%;
}
.p3,.p4{
	float: right;
	font-size: 12px;
	color: white;
}
.p2 a,.p3 a,.p4 a{
	font-size: 12px;
	color: white;
	text-decoration: none;
}
.topword .icon-shopping-cart,.topword .icon-map-marker,.topword .icon-globe{
	font-size: 1.2em;
	color: white;
}
.p2 a{
	cursor: pointer;
}


a:hover{
	text-shadow: 0px 1px 4px white;
}




.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}








/*
.poster img{
	width: 100%;
	overflow: hidden;
}
.poster .imgOn{
	display: inline;
}
*/




.poster img{
	width: 100%;
	overflow: hidden;
	transition: all .4s ease-in-out;
	opacity: 0;
	display: block;
}

.poster .visible{
    opacity: 1;
 }

.poster .wrapperpic2,.poster .wrapperpic3,.poster .wrapperpic4,.poster .wrapperpic5{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -99;
    }



.header{
	height: 90px;
	width: 100%;
	position: absolute;
	top: 30px;
}

.logo{
	float: left;
    padding: 27px 0 0 2em;

}



/*电脑版 图标隐藏*/

.dv i{
	display: none;
}
.dv input{
	display: none;
}
.dvnone{
	display: none;
}
.pcnone{
	display: none;
}



/*nav导航*/
.dv{
	width: 100%;

}
@media(min-width: 900px){
	.dvnav a{
		color: white;
		text-decoration: none;
		font-size: 1.8em;
	}
}
@media(min-width: 1px) and (max-width: 900px){
	.dvnav a{
		color: white;
		text-decoration: none;
		font-size: 1.5em;
	}
}


.navword1{
	display: inline-block;
	position: absolute;
	top: 33px;
	left: 40%;
}
.navword2{
	display: inline-block;
	position: absolute;
	top: 33px;
	left: 47%;
}
.navword3{
	display: inline-block;
	position: absolute;
	top: 33px;
	left: 59%;
}
.navword4{
	display: inline-block;
	position: absolute;
	top: 33px;
	left: 68.5%;
}
.navword5{
	display: inline-block;
	position: absolute;
	top: 33px;
	left: 78%;
}

.navline{
	display: none;
}
@media (min-width: 0){
	.bannerword{
	color: white;
	font-size: .8em;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -229.7735px;
	margin-top: 40%;
	font-weight: 550;
	font-family: Microsoft YaHei;
}
}
@media (min-width: 900px){
.bannerword{
	color: white;
	font-size: 1.4em;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -268.078px;
	margin-top: 40%;
	font-weight: 550;
	font-family: Microsoft YaHei;
}
}


.recommendbtn{
	position: relative;

}
.recommendbig{
	position: relative;
	width: 400%;
	height: 300px;
	background-color: white;
	z-index: 999;
	text-align: center;
	overflow: hidden;
	padding: 10px 0 10px 0px;
}

.recommend{
	width: 25%;
	height: 100%;
	position: relative;
	float: left;
}
.recommendleft{
	width: 50%;
	height: 100%;
	border-right: 1px solid;
	padding: 25px 5%;
	float: left;
	text-align: center;

}
.recommendright{
	width: 50%;
	height: 100%;
	padding: 25px 5%;
	float: left;
	text-align: center;
}
@media(max-width: 1250px){
	.recommendleft{
	width: 50%;
	height: 100%;
	border-right: 1px solid;
	padding: 25px 1%;
	float: left;
	text-align: center;

}
.recommendright{
	width: 50%;
	height: 100%;
	padding: 25px 1%;
	float: left;
	text-align: center;
}
}
/*
@media (min-width: 1px) and (max-width: 768px){
	.recommendpic img{
		width: 250px;
		height: 250px;
		position: relative;
		z-index: -999;
		margin-top: 7px;
		
	}
	.recommendword{
		position: absolute;
		left:20%;
		top:100px;
		z-index: 9999;
		width: 100px;
		height: 50px;
		
		
	}
	.recommendwordR{
		position: absolute;
		left: 70%;
		top: 100px;
		z-index: 9999;
		width: 100px;
		height: 50px;
	}
	
	.recommendword h5,.recommendwordR h5{
		color: black;
		display: block;
	}

	.recommendfilter{
			filter: url(blur.svg#blur);
	-webkit-filter: blur(2px); /* Chrome, Opera 
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);    
            filter: blur(2px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 
    background-color: white;
    opacity: .6;
	}
}*/
@media (min-width: 769px) and (max-width: 867px){
	.recommendpic img{
		width: 170px;
		height: 170px;
		float: left;
		margin-left: 30px;
		margin-top: 40px;
	}
	.recommendword,.recommendwordR{
		text-align: center;
		margin-top: 54px;
		display: block;
	}
}
@media (min-width: 868px) and (max-width: 949px){
	.recommendpic img{
		width: 200px;
		height: 200px;
		float: left;
		margin-left: 30px;
		margin-top: 25px;
	}
	.recommendword,.recommendwordR{
		text-align: center;
		margin-top: 60px;
	}
}
@media (min-width: 950px){
	.recommendpic img{
		width: 230px;
		height: 230px;
		float: left;
		margin-left: 30px;
		margin-top: 10px;
	}
	.recommendword,.recommendwordR{
		margin-top: 60px;
	}
}

.recommendpic{
	float: right;
	width: 100%;
	height: 100%;
}


.recommendpic h5{
	font-size: 14px;
	
}

.h5_1{
	margin-bottom: 10px;
	color: #808080;
}
.h5_2{
	padding-bottom: 60px;
}
.learnmore{
	padding: 6px 16px;
	border: 3px solid #191919;
	line-height: 34px;
	font-size: 14px;
	color: black;
	text-decoration: none;
}
.learnmore:hover{
	background-color: #191919;
    text-shadow: none;
    color: #fff;
}





.btn_left{
	background: url(../images/btn_left.png)no-repeat 0 0;
	position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -6px;
    cursor: pointer;
    z-index: 9999999;
}
.btn_right{
	background: url(../images/btn_right.png)no-repeat 0 0;
	position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -6px;
    cursor: pointer;
    z-index: 9999999;
}

.btn_left:hover{
	background: url(../images/btn_black_left.png)no-repeat 0 0;
	position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -6px;
    cursor: pointer;
    z-index: 9999999;
}
.btn_right:hover{
	background: url(../images/btn_black_right.png)no-repeat 0 0;
	position: absolute;
    right:0;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -6px;
    cursor: pointer;
    z-index: 9999999;
}



.musical{
	background: url(../images/background_Black.jpg) 0 0 / cover no-repeat fixed;;
	width: 100%;
	background-size: cover;
	float: left;
}
.musical img{
	width: 100%;
	transition: 4.5s all ease;

}
.musical img:hover{
	transform: scale(1.2);
}

.musicalpic1{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}


.musicalpic{
	width: 33.333333%;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
	float: left;
	text-align: center;
}
.musicalmid{
	height:100%;
	margin: 0px 34px 0 34px;
	padding-top: 16px;
	float: left;
}
.musicaltext1{
	color: white;
	text-shadow: 0px 1px 3px #666;
	font-size: 2em;
	margin-top: 30px;
}
.musicaltext2{
	color: white;
	font-size: 1.3em;
	letter-spacing: 0.05em;
	margin: 15px 0 0 0;
	display: block;
}
.musicaltext3{
	display: block;
	font-size: 1.1em;
	color: white;
	margin-top:25px;
	font-weight: bold;
}
.musicaltext3:hover{
	text-decoration: none;
}
/*
.othertext4{
	display: block;
	color: white;
	font-size: 1.3em;
	position: absolute;
}*/


.anchor{
	height: 30px;
	width: 500px;
	margin-top: 20px;
	background-color: black;
	float: left;
	cursor: pointer;
}
.anchor_icon{
	background: url(../images/anchor_icon.png);
	background-size: cover;
    height: 30px;
    width: 80px;

    position: absolute;
    left: 50%;
    margin-left: -40px;
}



.other{
	background: url(../images/background_B.jpg) 0 0 / cover no-repeat fixed;
	width: 100%;
	background-size: cover;
	float: left;
	padding-bottom: 30px;
	border-bottom: 2px solid white;

}
.othertext1{
	font-size: 2.6em;
	color: white;
	padding-top: 1.2%;
	text-align: center;
}

.otherpic{
	width: 33.333333%;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
	float: left;
	text-align: center;
}
.otherall{
	height: 100%;
	margin: 0px 34px 0 34px;
	padding-top: 16px;
}

.other img{
	width: 100%;
	transition: 3.5s all ease;
}

.other img:hover{
	transform: scale(1.2);
}

.otherpic1{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}


.otherbig{
	display: none;
}

.othertext2{
	color: white;
	text-shadow: 0px 1px 3px #666;
	font-size: 2em;
	margin-top: 30px;
}
.othertext3{
	color: white;
	font-size: 1.3em;
	letter-spacing: 0.05em;
	margin: 15px 0 0 0;
	display: block;

}





footer{
	width: 100%;
	height: 440px;
	background-color: black;
	float: left;
	padding-top: 40px;
	padding-left: 40px;
	color: white;
}
.footerRowleft img{
	width: 165px;
	height: 41px;
	margin-left: 14px;
}
.footerup{
	width: 100%;
	height: 300px;
	margin: 0 auto;
}
.footerRowleft{
	width: 400px;
	margin-left: 30px;
	float: left;
	margin-right: 100px;
}
@media(max-width: 1180px){
	.footerRowleft{
		margin-right: 50px;
	}
	
}
@media(max-width: 1130px){
	.footerRowleft{
		margin-right: 0;
	}
}
.footertext1 .title{
	font-size: 20px;
	padding: 40px 0;

}
.footerlinkmb{
	display: none;
}
.footertext2{
	font-size: 15px;
	padding-bottom: 50px;
}


.footerRowright{
	float: left;
	margin-left: 3%;
	font-size: 14px;
	margin-right: 0%;
}
.footerlistColumn{
	width: 130px;
	float: left;
}
.footerlistColumn .first{
	font-size: 18px;
}

.footerlistColumn li a{
	color: white;
	text-decoration: none;
}
.footerlistColumn li{
	list-style: none;
	line-height: 36px;

}
.footerAttention{
	float: left;
	margin-left: 50px;
	text-align: center;
}
@media(max-width: 1130px){
	.footerAttention{
		margin-left: 15px;
	}
}
@media(min-width: 1366px){
	.footerlistColumn{
		margin-left: 6%;
	}
	.footerRowright{
		width: 55%;
	}
}
@media(min-width: 1455px){
	.footerlistColumn{
		margin-left: 10%;
	}
	.footerRowright{
		width: 55%;
	}
	.footerAttention{
		margin-left: 10%;
	}
}

.footerAttention li{
	list-style: none;
}
.footerAttention .title{
	font-size: 18px;
	line-height: 36px;
}
.footerAttention a{
	color: white;
	text-decoration: none;

}

.footerbottom{
	padding-top: 30px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	float: left;
	
}

.footerbottom a{
	color: white;
}
.way{
	margin-top: 15px;
}
