*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	font-size: 62.5%;
	font-family:"微软雅黑";
}
.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}



.wrapper img{
	display: block;
    width: 100%;
    height: 100%;
    z-index: -999;
    position: relative;
}





.logo{
	float: left;
    left: 50%;
    margin-left: -6.708em;
    position: absolute;
    top: 1em;
    width: 13.417em;
	height: 3em;
}
.m1{
	position: absolute;
	left:4.69%;
	top: 1.66667em; 
	
}
.m2{
	position: absolute;
	right: 13.5%;
	top: 1.66667em;
}
.m3{
	position: absolute;
	right: 4.69%;
	top: 1.66667em;
}




.middlepic{
	width: 100%;

	top: 39.17%;	
	position: absolute;
}





.wrapper2 img{
	width: 100%;
	height: 100%;
	z-index: -999;

}

.wrapper2round{
	left: 20%;
	top: 3em;
}

.roundwhite{
	width: 2em;
	height: 2em;
	background-color: black;
	border-radius: 50%/50%;
	z-index: 4;
}





.recommend1{
	width: 100%;
	height: 23.3333em;
	background-color: white;
}
.recommendbig{
	margin-top: 1.25em;
	width: 24.17em;
	height: 21.25em;
	position: absolute;
	left: 50%;
	margin-left: -12.085em;
}
.recommendpic img{
	float: left;
	width: 16.667em;
	height: 16.667em;
}
.recommendpic p{
	margin: 4.1667em 4.68% 0 0;
	color: black;
	float: left;
	font-weight: 600;
}
.learnmore{
	width: 4.8333em;
	height: 2em;
	border: 1px solid;
	float: left;
	margin-top: 5em;
	text-align: center;
	line-height: 2em;
	font-weight: 600;
}
.changeround{
	left: 50%;
	margin-left: -4.06rem;
	margin-top: 83%;
	position: absolute;
}


.musical{
	width: 100%;
	height: 28.125rem;
	background-color: black;
	text-align: center;	
}
.musicalpic img{
	width: 21.33em;
	height: 21.33em;
	padding-top: 1.3333em;
}
.musicaltext1{
	font-size: 1.6em;
	color: white;
	margin-top: 1.3333em;
}
.musicaltext2{
	font-size: 1.1em;
	color: white;
	margin-top: 1.6667em;
}
.musicaltext3{
	display: block;
	font-size: 1.1em;
	color: white;
	text-align: center;
	margin-top: 1.8333em;
}
.musicalround{
	left: 50%;
	margin-left: -5rem;
	margin-top: 26.5rem;
	position: absolute;
}



.other{
	width: 100%;
	height: 500px;
	background-color: #88858c;
}
.othertext1{
	text-align: center;
	font-size: 2.6em;
	color: white;
	padding-top: 2.4%;
}
.otherpic{
	width: 21.333em;
	height: 21.333em;
	margin-top: 2.4%;
	position: absolute;
	left: 50%;
	margin-left: -10.667em;
}
.othertext2{
	text-align: center;
	font-size: 1.6em;
	color: white;
	padding-top: 17.5rem;
}
.otherbig{
	width: 20em;
	height: 11em;
	position: absolute;
	left: 50%;
	margin-left: -10em;
	
}
.othertext3{
	margin-left: 5%;
	margin-top: 5%;
	float: left;
}
.othertext3 p a{
	color: white;
}
.othertext3 p{
	line-height: 2em;
}

.othertext4{
	float: left;
	margin-top: 5%;
	margin-left: 40%;
}
.othertext4 p a{
	color: white;
}
.othertext4 p{
	line-height: 2em;
}


.footer{
	width: 100%;
	height: 29.17em;
	background-color: black;
}