*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 62.5%;
	font-weight: normal;
	font-style: normal;
}
.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}


#wrapper {
	width: 100%;
	position: relative;
	transition: all 1s ease;
}
.logo{
	

}
.m1{
	position: absolute;
	float: left;
	top: 1.5em;
	left: 1.5em;
}

