*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;

}
body{
	font-size: 62.5%;
	font-family:"微软雅黑";
	background-color: black;
}
.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}






.big{
	position: relative;

}




	
	
}
.poster img.visible{
	opacity: 1;
}

.wrapperpic1{
	display: block;
    width: 100%;
    opacity: 1;
    transition: all .4s ease-in-out;
}
.wrapperpic1:hover{
	width: 100%;
    display: block;
    opacity: 0;
 }
.poster .wrapperpic2{
	transition: all .4s ease-in-out;
	width: 100%;
	left: 0;
	top: 0;
    display: block;
    /* height: auto; */
    }

.wrapperpic2{
	width: 100%;
	position: absolute;
	display: block;
	top: 12.5%;
	z-index: -99;
}





.logo{
	float: left;
    left: 50%;
    margin-left: -6.708em;
    position: absolute;
    top: 1em;
    width: 13.417em;
	height: 3em;
}
.m1{
	position: absolute;
	left:4.69%;
	top: 1.66667em; 
	
}
.m2{
	position: absolute;
	right: 13.5%;
	top: 1.66667em;
}
.m3{
	position: absolute;
	right: 4.69%;
	top: 1.66667em;
}

.seach{
	margin-top: .8em;
	width: 60%;
	height: 1.875em;
	margin-left: 20%;
	font-size: 1em;
}

.inputseach{
	background: url(../images/searchsmall.png)no-repeat scroll center center #ffffff;
	border: 0 none;
	color: transparent;
    margin-top:  1em;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: -1.5em;
    margin-top:1em;
    width: 1.3em;

}

.dv{
	width: 100%;
	height: 27%;	
	background-color: black;
	position: absolute;
	top: 5em;
	opacity: .9;
	transition: all 1s ease;
	z-index: 99;
}
.dvchange{
	/*width: 100%;
	height: 0;*/
	transform:translateY(-50em);
	
}



.dvnav{
	margin-top: 1em;
	text-align: center;

}
.dvnav a{
	text-decoration: none;
	color: white;
	display: block;
	margin: 0 auto;
	line-height: 1.8em;
	font-size: 1.8em;
}

.navline{
	border-top: 1px solid white;
	list-style: none;
}
.navline_bottom{
	border-bottom: 1px solid white;
}

.icon-map-marker{
	position: absolute;
	top: 33.9em;
	right: 9em;
}
.icon-globe{
	position: absolute;
	top: 36.7em;
	right: 8.8em;
}












.recommend1{
	width: 100%;
	height: 23.3333em;
	background-color: white;
}
.recommendbig{
	margin-top: 2em;
	width: 100%;
	height: 21.25em;
	position: absolute;
	left: 50%;
	margin-left: -12.085em;
}
.recommendpic img{
	float: left;
	width: 16.667em;
	height: 16.667em;
}
.recommendpic p{
	margin: 4.1667em 4.68% 0 0;
	color: black;
	float: left;
	font-weight: 600;
}

.learnmore{
	width: 4.8333em;
	height: 2em;
	border: 1px solid;
	float: left;
	position: absolute;
	left: 16.7777em;
	top: 45%;
	margin-top: 5em;
	text-align: center;
	line-height: 2em;
	font-weight: 600;
	color: black;
}
.recommendround{
	left: 50%;
	margin-left: -4.51em;
	margin-top: 82%;
	position: absolute;
}
.roundblack{
	width: 0.67em;
	height: 0.67em;
	background-color: black;
	border-radius: 50%/50%;
	margin-right: 1em;
	z-index: 4;
	float: left;
}
.roundblack2{
	width: 0.67em;
	height: 0.67em;
	border:1px solid;
	border-radius: 50%/50%;
	margin-right: 1em;
	z-index: 4;
	float: left;
}



.musical{
	width: 100%;
	height: 28.125rem;
	background-color: black;
	text-align: center;	
}
.musicalpic{
	width: 21.33em;
	height: 27.125rem;
	margin:0 auto;
}
.musicalpic2{
	float: left;
}
.musicalpic img{
	width: 21.33em;
	height: 21.33em;
	padding-top: 1.3333em;
}
.musicaltext1{
	font-size: 1.6em;
	color: white;
	margin-top: 1.3333em;
}
.musicaltext2{
	font-size: 1.1em;
	color: white;
	margin-top: 1.6667em;
	
}
.musicaltext3{
	display: block;
	font-size: 1.1em;
	color: white;
	margin-top: 1.8333em;
}
.musicaltext4{
	
	font-size: 1.1em;
	color: white;
	margin-top: 1.8333em;
	float: left;
	margin-right: 1em;
}
.musicalround{
	left: 50%;
	margin-left: -5.345em;
	position: absolute;
}
.roundwhite{
	width: 0.67em;
	height: 0.67em;
	background-color: white;
	border-radius: 50%/50%;
	margin-right: 1em;
	z-index: 4;
	float: left;
}
.roundwhite2{
	width: 0.67em;
	height: 0.67em;
	border:1px solid white;
	border-radius: 50%/50%;
	margin-right: 1em;
	z-index: 4;
	float: left;
}






.other{
	width: 100%;
	height: 31.25rem;
	background-color: #88858c;
}
.otherall{
	width: 21.33em;
	height: 28.125rem;
	margin:0 auto;
}
.othertext1{
	font-size: 2.6em;
	color: white;
	padding-top: 2.4%;
	text-align: center;
}
.otherpic img{
	text-align: center;
	width: 21.333em;
	height: 21.333em;
	margin-top: 2.4%;
}
.othertext2{
	font-size: 1.6em;
	color: white;
	margin-top: 1.2em;
	text-align: center;
}
.otherbig{
	width: 20em;
	height: 11em;
	margin-left: 0.5em;
	display: block;
}
.othertext3{
	margin-left: 5%;
	margin-top: 1.2em;
	float: left;
}
.othertext3 p a{
	color: white;
}
.othertext3 p{
	line-height: 2em;
}

.othertext4{
	float: left;
	margin-top: 1.2em;
	margin-left: 40%;

}
.othertext4 p a{
	color: white;
}
.othertext4 p{
	line-height: 2em;
}
.otherround{
	left: 50%;
	margin-left: -2.84em;
	position: absolute;
	padding-top: 4em;
}








.footer{
	width: 100%;
	height: 29.17em;
	background-color: black;
	text-align: center;
}
.footer img{
	margin-top: 4.17em;
}
.footertext1{
	font-size: 1.2em;
	margin-top: 3.17em;
	line-height: 1em;
}
.footertext1 a {
	color: white;
}
.footertext1 b{
	color: white;
}
.footertext2{
	margin-top: 4.58em;
	font-size: 1em;
	color: white;
	line-height: 2em;
}
.footertext2 a{
	color: white;
}