*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;

}
body{
	font-size: 62.5%;
	font-family:"微软雅黑";
	overflow:-Scroll;
	overflow-x:hidden;
}



.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}

.login_wrapper,.topwordtext,.pcnav{
	display: none;
}
.topword{
	width: 100%;
	height: 2rem;
	background: black;
	overflow: hidden;
	z-index: 99;
	line-height: 30px;
	color: white;
	opacity: .8;
	position: fixed;
	z-index: 99;
	top: 0;
}
.topword::before{
	content: '';
	z-index: -1;
    -webkit-filter: blur(20px); /* Chrome, Opera */
       -moz-filter: blur(20px);
        -ms-filter: blur(20px);    
            filter: blur(20px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false); /* IE6~IE9 */

}

.header{
	width: 100%;
	height: 2.9375rem;
	background-color: white;
	position: relative;
	border-bottom: 1px solid black;
	position: fixed;
	z-index: 99;
	top: 2rem;
}
.logo{
	float: left;
    left: 50%;
    margin-left: -6.708em;
    position: absolute;
    top: 0.34375rem;
    width: 13.417em;
	height: 3em;
}
.icon-reorder,.icon-search,.icon-shopping-cart{
	color: black;
	font-size: 2em;
}
.m1{
	float: left;
	line-height: 3.2rem;
	margin-left: 4%;
}
.m2{
	float: right;
	line-height: 3.2rem;
	margin-right: 4%;
}
.m3{
	float: right;
	line-height: 3.2rem;
	margin-right: 5%;
}

.nav{
	background: #efefef;
	width: 100%;
	height: 4em;
	margin-top: 4.9375rem;
	padding: 1rem .7rem;
	margin-bottom: .833333em;
}

.nav ul>li::after{
	content: '/';
	margin-left: 10px;
}
.nav ul li{
	list-style: none;
	display:inline;
}
.nav ul li a{
	color: #999;
	text-decoration: none;
}
.nav ul>li:last-child::after{
	content: none;
}



.content{
	width: 100%;
	height: auto;
}
.contentpic{
	padding-bottom: 4em;
	padding-top: 1em;
}
.contentpic img{
	display: block;
	border: 0;
	width: 70%;
	margin: 0 auto;
}

.buyform{
	padding: 0 .833333em;
}
.pt-name{
	margin: 0;
    font-size: 14px;
    padding: 5px .625rem;
}
.pt-price{
	color: #666;
	font-size: 1.6em;
	padding: 5px 0;
    font-weight: bold;
    margin-left: .625rem;
}


.pt-detail{
	margin: 1rem 0;
	padding: 0 .625rem;
}
.trigger-list{
	list-style: none;
	display: box;
	display: -webkit-box;
}
.tab .trigger.act{
	border-top: 2px solid black;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid white;
}
.tab .trigger{
	box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    border-top: 2px solid white;
    padding-left: 1px;
    padding-right: 1px;
    border-bottom: 1px solid #bfbfbf;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
}
.detailed{
	padding: 0 .625rem;
	text-align: center;
}
.detailed-text{
	margin-top: 1em;
}
.detailed h2{
	margin-top: 1em;
}
.detailed img{
	width: 100%;
	margin-top: 1.5em;
}
.detaili{
	display: none;
	padding-bottom: 1.5rem;
}
.detaili.act{
	display: block;
}
.detaili span{
	display: inherit;
	text-align: center;
}

.guigeTable{
	width: 100%;
	padding: 0 .625rem;
}

tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td{
	padding: 0.4375rem;
    border: 1px solid #A7A7A7;
}
.guigeTable td.col1{
	width: 5rem;
    background-color: #F0F0F0;
}




.bottomchart{
	position: fixed;
    width: 100%;
    z-index: 9;
    left: 0;
    bottom: 0;
    display: block;
    margin-top: 1em;
}
.bottomchart a{
	text-decoration:none;
}
.bottomchart i{
	width: 78%;
    min-height: 2em;
    margin: 2px auto 0;
    display: block;
}
.customService{
	width: 13.375%;
    height: 3.125rem;
    background: #fff;
    border-left: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    display: block;
    float: left;
    text-align: center;
}
.bottomchart a span{
	color: #666;
}
.customServiceicon{
	background: url(../images/customerServiceico.png) center center no-repeat;
	background-size: auto 82%;
}
.proShare{
	width: 13.375%;
	height: 3.125rem;
    background: #fff;
    border-left: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    display: block;
    float: left;
    text-align: center;
}
.proShareicon{
	background: url(../images/shareico.png) center center no-repeat;
	background-size: auto 82%;
}

.favorite{
	width: 13.375%;
	height: 3.125rem;
	background: #fff;
	border: 1px solid #bbbbbb;
	display: block;
	float: left;
	text-align: center;
}
.favoriteicon{
	background: url(../images/favoriteico.png) center center no-repeat;
	background-size: auto 82%;
}
.addchart{
	width: 29.937%;
	display: block;
	float: left;
}
.addchart-btn{
	display: block;
	width: 100%;
	background: #fff;
	border: 1px solid black;
	color: black;
	height: 3.125rem;
	line-height: 3.125rem;
	text-align: center;
}
.buynow{
	width: 29.9375%;
	display: block;
	float: left;
}
.buynow-btn{
	display: block;
	width: 100%;
	background: black;
	color: white;
	height: 3.125rem;
	line-height: 3.125rem;
	text-align: center;

}




/*导航*/
.dv{
	padding: 1.5em 2em 1.5em 2em;
	width: 90%;
	background-color: black;
	float: left;
	position: absolute;
	top: 0;
	left: -90%;
	opacity: .91;
	z-index: 99999;
	color: white;
}
.seachinput{
	width: 2em;
    height: 2em;
    background: url("../images/search-m.jpg") no-repeat scroll center center #ffffff;
    border: 0 none;
    color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 2.5em;
    top: 1.916667em;
}
.seach{
	width: 100%;
	height: 2.833333em;
	font-size: 1em;
	padding-left: 3em;
}


.icon-angle-right{
	color: white;
	float: right;
	font-size: 1.4em;
	transition: all .7s ease;
}
.icon-angle-right-rotate{
	transform:rotate(90deg);
	transform-origin:50% 50%;
}
.dv i{
	line-height: 2.625rem;
}
.dvnone{
	border-bottom: 1px solid white;
}
.navclose{
	position: absolute;
	top: 5.4em;
	right: 2em;

}
.navclose img{
	width: 3em;
	height: 3em;
}
.dvnav{
	margin-top: 1em;

}
.dv li{
	list-style: none;
	line-height: 2.625rem;
}
.dv a{
	text-decoration: none;
	display: block;
	line-height: 2.625rem;
	font-size: 1.8em;
	color: white;
}

.navline{
	border-top: 1px solid white;
}
.navline_bottom{
	border-bottom: 1px solid white;
}

.icon-map-marker{
	color: white;
}
.icon-globe{
	color: white;
}
.mbnone{
	display: none;
}

/*乐器*/
.nav-level-1,.nav-level-2{
	width: 100%;
	height: 0;
	padding: 0 2rem;
	font-size: 1.8em;
	overflow: hidden;
	transition: all .7s ease;
}
.nav-level-1-show,.nav-level-2-show{
	width: 100%;
	height: 18.375rem;
	padding: 0 2rem;
	font-size: 1.8em;
	overflow: hidden;
}
.nav-level-3{
	width: 100%;
	height: 0;
	padding: 0 2rem;
	font-size: 1.8em;
	overflow: hidden;
	transition: all .7s ease;
}
.nav-level-3-show{
	width: 100%;
	height: 21rem;
	padding: 0 2rem;
	font-size: 1.8em;
	overflow: hidden;
}
.nav-level-5{
	width: 100%;
	height: 0;
	padding: 0 2rem;
	font-size: 1.8em;
	overflow: hidden;
	transition: all .7s ease;
}
.nav-level-5-show{
	width: 100%;
	height: 5.25rem;
	padding: 0 2rem;
	font-size: 1.8em;
	overflow: hidden;
}


/*导航结束*/

















.footer{
	width: 100%;
	height: 29.17em;
	background-color: black;
	text-align: center;
}
.footer img{
	margin-top: 4.17em;
}

.title,.footertext1 p{
	display: none;
}
.footerlinkmb{
	font-size: 1.2em;
	margin-top: 3.17em;
	line-height: 1em;
}
.footerup{
	display: none;
}

.footertext1 a,.footertext1 b{
	color: white;
}

.footerbottom{
	margin-top: 4.58em;
	font-size: 1em;
	color: white;
	line-height: 2em;
	padding-bottom: 2em;
}
.footerbottom a{
	color: white;
}