*{
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
}
.box{
	width: 3em;
	height: 100em;
	background-color: lightgreen;
	transition:all 1s ease;
}
.box.hide{
	width: 3em;
	height: 100em;
	background-color: lightgreen;
	transform: translateX(-3em);
}