.box{
	width: 100px;
	height: 100px;
	background-color: purple;
	margin:0 auto;
}
.box.turn{
	width: 100px;
	height: 100px;
	background-color: purple;
	transform: scale(2,2);
	transform-origin:0% 0%;/*设置原点，50% 50%为默认中心*/
}